# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
*.db
*.sqlite3

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local
